body {
    background-color: #98c1d9;
}
.container{
    
    width: max-content;
    border: 1px solid #3d5a80;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.grid {
    display: flex;
    justify-content: center;

}
.item {
    width: 30px;
    height: 30px;
    border: 1px solid #3d5a80;
    background-color: #e0fbfc;

}

h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #293241;
}